{% extends 'base.html' %}
{% block content  %}  
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>

<h2>All Products</h2>
  
<table style = "width:50%"">
  <tr>
    <th>Type</th>
    <th>Brand</th>
    <th>In Stock</th>
    <th>Stock Level</th>
    <th>Buying</th>
    <th>Selling</th>
    <th>Mark Up</th>
    <th>Supplier</th>
  </tr>
  

   
  {% for product in all_products %}
  <tr>
    <td> <a href="/products/{{product.id}}/edit">{{product.type}}</a></td>
    <td> <a href="/brands">{{product.brand.name}}</a></td>
    <td>{{product.in_stock}}</td>
    <td>{{product.stock_level()}}</td>
    <td>{{product.buying_price}}</td>
    <td>{{product.selling_price}}</td>
    <td>{{product.calculate_mark_up()}}%</td>
    <td> <a href="/suppliers/{{product.supplier.id}}">{{product.supplier.name}}</a><td>
    <td> <a href="/products/{{product.id}}/edit">Edit Product</a></td>


  </tr>
  {% endfor %}

</table>

{% endblock content  %}  