{% extends "base.html" %}
{% block content %}
form for adding a new supplier
<form action="/suppliers" method="post">

  <div>
    <label for="supplier">Supplier Name:</label>
    <input type="text" id="supplier" name="name" placeholder="supplier" required autofocus />
  </div>

  <div>
    <label for="contact">Contact Number:</label>
    <input type="text" id="contact" name="contact" placeholder="contact" required />
  </div>

  <div>
    <label for="carraige_paid">Carraige Paid:</label>
    <input type="number" id="carraige_paid" name="carraige_paid" placeholder="carraige_paid" required />
  </div>


  <button type="submit">Add Supplier</button>

</form>

{% endblock %}