body {
    background-color: #92BCEA;
    
  }

  .menu li {
    margin: 20px;
}

 a {
  color: rgb(31, 9, 9);
}

.menu {
    display: inline;
}

.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }